# Assignment 2 - Basic of python and Jupyter notebook

----
❓Write a program to print  `Welcome Tilicho Batch 2022` to console

In [1]:
print('Welcome Tilicho Batch 2022')

Welcome Tilicho Batch 2022

----
### Variables
❓Write snippets to do the variable declaration 
- Single variable declaration
- Multiple variables declaration in a single statement
- Global variables declaration

In [3]:
a = 5

In [4]:
x , y, z = 1,2,3

In [2]:
global a

----
### Data Types
❓Here is following list of value. Write a small program to print the value and it's data type in separate lines.

Example:
```python
sampleList = [1,'name',20.4,1j,['1','2'],('1','2'),range(10),true]	
/* 
	Above should return
	1 -> int
	2 -> str
	.. so on
*/
```

> 💡Tip: You can use `type()` to find the data type of value.

Execute the following example

In [15]:
sampleList = [1,'name',20.4,1j,['1','2'],('1','2'),range(10),True]
for i in range(len(sampleList)):
    print(sampleList[i] ,' -> ', type(sampleList[i]) )

1  ->  <class 'int'>
name  ->  <class 'str'>
20.4  ->  <class 'float'>
1j  ->  <class 'complex'>
['1', '2']  ->  <class 'list'>
('1', '2')  ->  <class 'tuple'>
range(0, 10)  ->  <class 'range'>
True  ->  <class 'bool'>

You answer goes 👇

----
### Strings
Write sample code snippets for following each case
- Print multiline string with your name, college, address
- Slice `Hello, world` to print `Hello`
- convert `Tilicho` to upper case
- concatenate `Hello` and `World` to print `Hello ## World`

In [20]:
multilineStr = '''
Name - Vikrant
College - D.A.V. university jalandhar
Address - Village nangran district una Himachal Pradesh, 174315
'''
print(multilineStr)

Name - Vikrant
College - D.A.V. university jalandhar
Address - Village nangran district una Himachal Pradesh, 174315

In [23]:
sliceStr = 'Hello, world'
print(sliceStr[:5])

Hello

In [26]:
uppercaseStr = 'Tilicho'
print(uppercaseStr.upper())

TILICHO

In [28]:
str1 = 'Hello'
str2 = 'World'

print(str1+' ## '+str2)

Hello ## World

----
### Loops

Print 2 table (from 1 - 10 multipliers).

Sample output
```python
2 x 1 = 2
2 x 2 = 4
...
```

In [31]:
for i in range(1,11):
    print('2 x',i, '=', 2*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

----
## Lists

❓
Give a list of string `["ApPle", "banana", "OrangE"]`, write List Comprehension to create a new list with capitalizing all the characters i.e. `[APPLE, BANANA, ORANGE]`

In [32]:
lst = ["ApPle","banana","OrangE"]
newlst = []
for i in lst:
    newlst.append(i.upper())
print(newlst)

['APPLE', 'BANANA', 'ORANGE']

❓ Extend the above problem by doing inverse casing instead i.e. output should be `["aPpLE", "BANANA", "oRANGe"]`

In [44]:
lst = ["ApPle","banana","OrangE"]
newlst = []
for word in lst:
    tempword= ''
    for letter in word:
        if(letter.isupper()):
           tempword += letter.lower()
        else:
           tempword += letter.upper()
    newlst.append(tempword)
print(newlst)

['aPpLE', 'BANANA', 'oRANGe']

----
## Problem solving

❓ Given an integer `n`, return the length of the longest consecutive run of 1s in its binary representation.
For example, given `156`, you should return `3`.

Explanation : `156` in binary from `10011100`, so since `111` is the longest consecutive run, return `3`

In [85]:
def findLongestConsecutive(num):
    ans = bin(num)
    ans = ans.replace('0b','')
    count = 0
    maxcount = 0
    for i in range(len(ans)):
        if(ans[i] == '1'):
            count += 1
        else:
            count = 0
        maxcount = max(count , maxcount)
    return maxcount

findLongestConsecutive(156)

3

❓Given an `array` and a number `k` that's smaller than the length of the array, rotate the array to the right `k` elements in-place. \
For example ```[1,2,3,4,5,6] ``` and `k = 2` we should rotate the array to 2 positions. output : ``` [5,6,1,2,3,4] ```

In [65]:
def rotate(array , k):
    n = len(array)
    if(k>n ):
        return 'K should be smaller then length of array'
    if (k < 0):
        return 'K should not be negative'
         
    array = array[n-k:n] + array[:n-k]
    return array

rotate([1,2,3,4,5,6],2)

[5, 6, 1, 2, 3, 4]